<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css"></link>
    <title>AICU</title>
  </head>
  <body>
    <img src="../static/phone_skeleton.png" alt="phone skeleton" id="skeleton"/> 
    <main>
        <div>
        <h1>Welcome to AICU</h1>
        <img src="../static/aicu_logo.png" alt="aicu_logo"/> 
        <img src="../static/log-in-with-singpass---red-inline-x3---recommended.png" alt="singpass-login-icon"/> 
        </div>
    </main>
  </body>
</html>
