{% extends "index.html" %} {% block header %}

<style>
  section h1 {
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
  }

  section {
    position: absolute;
    top: 20%;
    text-align: center;
  }

  @media only screen and (max-width: 500px) {
    section h1 {
      font-size: 50px;
    }
  }
</style>

<title>AICU | Login</title>
{% endblock %} {% block content %}
<section>
  <h1>Welcome to AICU!</h1>
  <img src="https://media.discordapp.net/attachments/1162003771476422768/1162004663521005649/aicu_logo.png?ex=653a5c2c&is=6527e72c&hm=5409e23def9adabc34ebc9f12b6a6ca45817100fd2db3218a9046e9c373f80f1&=&width=651&height=651" alt="aicu_logo" width="70%" />
  <a href="{{url_for('qr_code')}}">
    <img
      src="https://media.discordapp.net/attachments/1162003771476422768/1162004663999139930/log-in-with-singpass---red-inline-x3---recommended.png?ex=653a5c2c&is=6527e72c&hm=b5982707155486006960d6cf2cef82371512dbbf9fe88d172cf144eece21237a&="
      alt="singpass-login-icon"
      width="70%"
    />
  </a>
</section>
{% endblock %}
