{% extends "index.html" %} {% block header %}

<style>
  section h1 {
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
  }

  section {
    position: absolute;
    top: 20%;
    text-align: center;
  }

  @media only screen and (max-width: 500px) {
    section h1 {
      font-size: 50px;
    }
  }
</style>

<title>AICU | Login</title>
{% endblock %} {% block content %}
<section>
  <h1>Welcome to AICU!</h1>
  <img src="../static/aicu_logo.png" alt="aicu_logo" width="70%" />
  <a href="{{url_for('qr_code')}}">
    <img
      src="../static/log-in-with-singpass---red-inline-x3---recommended.png"
      alt="singpass-login-icon"
      width="70%"
    />
  </a>
</section>
{% endblock %}
