{% extends "index.html" %} {% block header %}
<style>
  section {
    position: absolute;
    top: 20%;
    text-align: center;
  }

  .backArrow {
    font-size: 25px;
    line-height: 20px;
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(180deg);
    border: 2px solid white;
    border-radius: 50%;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
  }

  .backArrow:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  .container {
    position: absolute;
    top: 10%;
    left: 2%;
    width:fit-content;
  }

  @media only screen and (max-width: 500px) {
    * {
      font-size: 1.3rem;
    }
    .backArrow {
      font-size: 35px;
      line-height: 30px;
      width: 45px;
      height: 45px;
    }
  }
</style>

<title>AICU | QR Code</title>
{% endblock %} {% block content %}
<a href="{{url_for('login')}}">
  <div class="container">
    <div title="Back to Menu" class="backArrow">&#10140;</div>
  </div>
</a>
<section>
  <h2>Tap QR code</h2>
  <p>to log in with Singpass app</p>
  <br />
  <a href="{{url_for('approving_login')}}"
    ><img src="../static/qr_code.jpg" alt="qr_code" width="70%"
  /></a>
</section>
{% endblock %}
